click==8.1.7
colorama==0.4.6
greenlet==2.0.1
lxml==4.9.3
pip==23.3
psycopg2==2.9.7
psycopg2-binary==2.9.7
python-dotenv==0.21.0
pywin32==306
quickbooks-desktop==1.0.1
setuptools==68.0.0
SQLAlchemy==2.0.21
typing_extensions==4.7.1
wheel==0.41.2
xmltodict==0.13.0
